extends ../main

block title 
	| Красота

block content
	article.content-wrapper
		h1.content__title Красота
		.container
			ul.articles
				li.articles__item
					a(href="#").articles__link
						img(src="img/photo/10_bests.jpg")
					.articles-info
						a(href="#").articles-info__text Макияж
						.articles-info__views 1 255
					a(href="#").articles__text 
						| Лукбук: Разбираем образы наших читательниц
				li.articles__item
					a(href="#").articles__link
						img(src="img/photo/10_bests.jpg")
					.articles-info
						a(href="#").articles-info__text Макияж
						.articles-info__views 1 255
					a(href="#").articles__text 
						| Лукбук: Разбираем образы наших читательниц
				li.articles__item
					a(href="#").articles__link
						img(src="img/photo/10_bests.jpg")
					.articles-info
						a(href="#").articles-info__text Макияж
						.articles-info__views 1 255
					a(href="#").articles__text 
						| Лукбук: Разбираем образы наших читательниц