extends ../main

block title 
	| Красота

block content
	article.content-wrapper
		h1.content__title Красота
		.container
			.container__left
				ul.posts
					li.posts__item
						a(href="#").posts__link.posts__link_circle
							img(src="img/photo/lukbuk.jpg" alt="Лукбук: Разбираем образы наших читательниц")
						.posts-info
							a(href="#").posts-info__text.posts-info__text_circle Макияж
							.posts-info__views.posts-info__views_circle 1 255
						.posts-desc.posts-desc_circle
							a(href="#").posts-desc__text.posts-desc__text_circle
								| Лукбук: Разбираем образы наших читательниц
					li.posts__item
						a(href="#").posts__link
							img(src="img/photo/5_methods.jpg" alt="5 нескучных способов использовать набор бежевых теней")
						.posts-info
							a(href="#").posts-info__text Макияж
							.posts-info__views 1 255
						.posts-desc
							a(href="#").posts-desc__text
								| 5 нескучных способов использовать набор бежевых теней
					li.posts__item
						a(href="#").posts__link
							img(src="img/photo/10_bests.jpg" alt="10 лучших тональных средств для жаркой погоды")
						.posts-info
							a(href="#").posts-info__text Макияж
							.posts-info__views 1 255
						.posts-desc
							a(href="#").posts-desc__text 
								| 10 лучших тональных средств для жаркой погоды
					li.posts__item
						a(href="#").posts__link
							img(src="img/photo/10_bests.jpg" alt="10 лучших тональных средств для жаркой погоды")
						.posts-info
							a(href="#").posts-info__text Макияж
							.posts-info__views 1 255
						.posts-desc
							a(href="#").posts-desc__text
								| 10 лучших тональных средств для жаркой погоды
					li.posts__item
						a(href="#").posts__link
							img(src="img/photo/10_bests.jpg" alt="10 лучших тональных средств для жаркой погоды")
						.posts-info
							a(href="#").posts-info__text Макияж
							.posts-info__views 1 255
						.posts-desc
							a(href="#").posts-desc__text
								| 10 лучших тональных средств для жаркой погоды
					li.posts__item
						a(href="#").posts__link
							img(src="img/photo/10_bests.jpg" alt="10 лучших тональных средств для жаркой погоды")
						.posts-info
							a(href="#").posts-info__text Макияж
							.posts-info__views 1 255
						.posts-desc
							a(href="#").posts-desc__text
								| 10 лучших тональных средств для жаркой погоды						
			.container__right
				ul.posts
					li.post__item
						a(href="#").posts__link
							img(src="img/photo/5_methods.jpg" alt="5 нескучных способов использовать набор бежевых теней")
						.posts-info
							a(href="#").posts-info__text Макияж
							.posts-info__views 1 255
						a(href="#").posts__text 
							| 5 нескучных способов использовать набор бежевых теней				