- var nav_top = ['Мода', 'Отношения', 'Красота', 'Здоровье', 'Жизнь', 'Психология'];
- var fashion = ['Мода', 'Вишлист', 'Мнение', 'Налицо', 'Новая марка', 'Тендеции'];
- var relations = ['Отношения', 'Внутренний мир', 'Героини', 'Семья', 'Опрос', 'Совет психолога', 'Интервью'];
- var beauty = ['Красота', 'Макияж', 'Эксперимент', 'Что вы творите', 'Совет стилиста', 'Звезды', 'Фотосессия'];
- var health = ['Здоровье', 'Спорт и фитнес', 'Диета', 'Уход за телом', 'Крупным планом'];
- var life = ['Жизнь', 'Путешетсвия', 'Развлечения', 'Домашний уют', 'Тест'];
- var psychology = ['Психология', 'История успеха', 'Дети', 'Карьера', 'Образование'];
- var project = ['О проекте'];
- var advertising = ['Реклама'];
- var contacts = ['Контакты'];



