footer.footer
	.container
		.footer__top
			.footer-logo
				a(href="#" title="На главную").logo
					img(src="img/logo/Logo_footer.png" alt="Lafoy").logo__img
					span.logo__text Lafoy
			nav.footer-nav
				+ul('footer-nav', fashion, -1, true)
				+ul('footer-nav', relations, -1, true)
				+ul('footer-nav', beauty, -1, true)
				+ul('footer-nav', health, -1, true)
				+ul('footer-nav', life, -1, true)
				+ul('footer-nav', psychology, -1, true)
				+ul('footer-nav', project, -1, true)
				+ul('footer-nav', advertising, -1, true)
				.footer-nav__last
					+ul('footer-nav', contacts, -1, true)
	.footer__bottom
		.container
			.footer__copyright
					| &copy; 2015 Lafoy. Женский онлайн-журнал о моде и красоте
			.footer__developer Дизайн разработан в 
				a(href="http://www.progressivemedia.ru/").footer__developer-link Progressive Media