header.header
	.header-top
		.header-top__left
			a(href="#" title="Меню").burger
				.burger__icon
			a(href="#" title="На главную").logo
				img(src="img/logo/Logo_header.png" alt="Lafoy").logo__img
				span.logo__text Lafoy
			+ul('nav-menu', nav_top)
			+ul('nav-menu-drop', nav_menu)
		+ul('nav-top', nav_top, 2, false)
		.header-top__right
			a(href="#" title="Поиск").seach
	.header-bottom
		form(action="#" method="get").form
			input(type="seach" name="seach").form__seach
			input(type="submit" name="submit" value="Найти").form__submit



