.content-wrapper {
	margin-top: 40px;
	text-align: center;
	margin-bottom: 70px;
}

.content__title {
	font-size: $font-size_main + 25px; 
	margin-bottom: 30px;
}

.container{
	@include clearfix;
}

.container__left {
	width: 76.5%;
	float: left;
}

.posts {
	@include clearfix;
	margin-bottom: 60px;
}

.container__right {
	width: 23.5%;
	float: right;
}

.posts__link {
	display: block;
	overflow: hidden;
	margin-bottom: 17px;
	@include transition(.4s);

	&_circle {
		@include border-radius(50%);
		width: 70%;
		margin: 0 auto;
		margin-bottom: 17px;
	}

	&_circle-bottom {
		@extend .posts__link_circle;
		width: 64%;
	}

	&:hover {
		opacity: 0.75;
	}
}

.posts__link_gallery {
	position: relative;

	&:after {
		content:'';
		position: absolute;
		top:10px;
		right: 10px;
		@include get-sprite($general-sprite, gallery); 

	}
}


.posts__item {
	@include inlineblock(top);
	width: 30.8%;
	margin:0 28px 60px 0;
}

.posts-info {
	margin-bottom: 12px;
	height: 20px;
	position: relative;
}

.posts-info__text {
	padding-top: 4px;
	border-top: 1px solid $main_gold_line;
	color: $main_gold_text;
	text-transform: uppercase;
	float: left;

	&_circle {
		position: absolute;
   	top: 0;
   	left: 28%;
	}
}

.posts-info__views {
	color: #8a8a8a;
	font-size: $font-size_main - 1px;
	float: right;
	padding-top: 6px;

	&:before{
		content:'';
		display: inline-block;
		padding-right: 6px;
		@include get-sprite($general-sprite, views); 
	}

	&_circle {
		position: absolute;
		padding-top: 0;
		top: 6px;
		left: 52%;
	}
}
.posts-desc	{
	text-align: left;

	&_circle{
		max-width: 300px;
		margin: 0 auto;
		text-align:center;
	}
}

.posts-desc__text {
	color: $main_black_text;
	font-size: 26px;
	line-height: 32px;
	@include transition(.4s);

	&:hover {
		color: #cd9710;
	}

	&_circle {
		font-family: $font-italic;
	}
}

.panel-right__banner {
	position: relative;
	background: #e8e8e8;
	padding: 40px;
	margin-bottom: 59px;
}

.panel-right__banner-link {
	display: block;
}

.discussions__title {
	font-size: 32px;
	margin-bottom: 30px;
}

.discussions__item {
	@include clearfix;
}

.discussions__link-img {
	float: left;
	display: block;
	@include border-radius(50%);
	overflow: hidden;
	counter-reset: i;

	&:hover {
		opacity: 0.75;
	}
}

.discussions__list{
	counter-reset: i;
	margin-bottom: 73px;
}

.discussions__item {
	position: relative;
	margin-top: 20px;
	padding-left: 20px;

	&:first-child {
		margin-top:0;
	}

	&:before {
		display: block;
		position: absolute;
		top:0;
		left:10px;
		width: 24px;
		height: 24px;
		line-height: 24px;
		z-index: 1;
		counter-increment: i;
		content: counter(i);
		line-height: 24px;
		@include border-radius(50%);
		border: 3px solid #d6b25c;
		background: #fff;
		font-size: $font-size_main + 1px;
	}
}

.discussions__text {
	float: right;
	text-align: left;
	max-width: 242px;
	max-height: 72px;
	line-height: 26px;
	overflow: hidden;
	// white-space: nowrap;
	// text-overflow: ellipsis;
	// font-family: $font-italic;
	font-size: $font-size_main + 3px;
	color: $main_black_text;
}

.pagination {
	text-transform: uppercase;
	text-align: center;
	height: 60px;
	line-height: 60px;
}

.pagination__prev {
	float: left;
	width: 49%;
	display: block;
	background: #d8d8d8;
	position: relative;

	&:before {
		content: '';
		position: absolute;
		top:22px;
		left: 22px;
		@include get-sprite($general-sprite, prev); 
	}

	&:hover {
		opacity:0.8;
	}	
}

.pagination__next {
	float: right;
	width: 49%;
	display: block;
	background: #d8d8d8;
	position: relative;

	&:after {
		content: '';
		position: absolute;
		top:22px;
		right: 22px;
		@include get-sprite($general-sprite, next); 
	}	

	&:hover {
		opacity:0.8;
	}
}

.pagination__text {
	color: $main_black_text;
}