.header-top {
	position: relative;
	height: 62px;
	border-bottom: 1px solid #e8e8e8;
	@include clearfix;
}

.header-top__left {
	float:left;
	width: 25%;
}

.burger {
	@include inlineblock(top);
	position: relative;
	width: 61px;
	height: 62px;
	border-right: 1px solid #e8e8e8;
}

.burger__icon {
	@include center;
	@include get-sprite($general-sprite, burger); 
	@include transition(.4s);
}

.burger__icon_active {
	@include center;
	@include get-sprite($general-sprite, close); 
}

.nav-menu__list {
	width: 250px;
	height: 2000px;
	background: #000;
	padding: 40px 0 0 48px;
	color: #fff;
	position: absolute;
	z-index:2;
	left: -250px;
}

.nav-menu__item, .nav-menu-drop__item {
	margin-bottom: 30px;
}

.nav-menu-drop__item {
	&:first-child {
		position: relative;
		color: #acacac;
		&:before {
			content: '';
			position: absolute;
			left:-25px;
			@include get-sprite($general-sprite, back); 
		}
	}
}

.nav-menu__link, .nav-menu-drop__link {
	color: $main_white;
	@include transition(.3s);
	font-family: $font-medium;

	&:hover {
		color: #c99710;
	}
}

.nav-menu-drop__list{
	@extend .nav-menu__list;
	display: none;
	left:0;
}

.logo {
	margin: 13px 0 0 20px;
	@include inlineblock(top);
}

.logo__img {
	display: block;
	max-width: 88px;
}

.logo__text {
	position: absolute;
	top: 0;
	left: -99999px;
}


.nav-top__list {
	margin: 0 auto;
	width: 38%;
	height:62px;
	text-align:justify;

	&:after {
		content:'';
		display: inline-block;
		width:100%;
	}
}

.nav-top__item {
	@include inlineblock(middle);
	text-transform:uppercase;
}

.nav-top__link {
	display: block;
	height:62px;
	line-height: 62px;
	font-family: $font-medium;
	color: $main_black_text;
	@include transition(.4s);

	&:hover {
		color: $main_gold_line;
	}

	&_active {
		border-bottom: 3px solid $main_gold_line;
		cursor:default;

		&:hover {
			color: $main_black_text;
		}
	}
}

.seach{
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	width: 60px;
	height: 62px;
	border-left: 1px solid #e8e8e8;

	&:after {
		content: '';
		display: block;
		@include center;
		@include get-sprite($general-sprite, seach);
	}

	&:hover {
		&:after {
			@include get-sprite($general-sprite, seach_hover);
		}
	}

	&_active	{
		&:after {
			@include get-sprite($general-sprite, seach_hover);
		}
	}
}
.form {
	height: 95px;
	background-color: #626262;
	color: #fff;
	display: none;
}

.form__seach {
	background: transparent;
   border: none;
   outline: none;
   width: 88%;
   height: 95px;
   line-height: 95px;
   font-family: $font-light;
   @include fontSize(3.2);
   padding: 0 61px;
}

.form__submit {
	float: right;
	border: none;
   outline: none;
   width: 82px;
   height: 95px;
   font-family: $font-medium;
   @include fontSize(1.6);
   background-color: #626262;
}
