// Colors
$main_white: #fff;
$main_black_text: #191919;
$main_grey_footer: #aeaeae;
$main_gold_text: #c68a12;
$main_gold_line: #c88b11;

// Setting
$footer-height: 330px;

// Fonts
$font-size_main: 15px;
$font-main: 'RobotoRegular', sans-serif;
$font-medium: 'RobotoMedium';
$font-light: 'RobotoLight';
$font-italic: 'TimesNewRomanItalic';

//Paths
$path-images: '../img';
$path-fonts: '../fonts/';